/* メールテンプレート必須エラー発生する場合、該当エリアの枠を赤色にする */
div.error-border {
    border: 1px solid #eb4141;
}

div.field-margin-top {
    margin-top: 0px;
}

div.field-margin-top-10 {
    margin-top: 10px!important;
}
